.card-container{
  height: 200px;
  width: 200px;
  float: left;
  margin: 1rem;  
}
.card {
  size: 100%;
  border-radius: 2px;
  background-size: 120%;
  background-position-x: -15px;
  background-position-y: -15px;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  height: 200px;
  width: 200px  

}
.card:hover {
  height: 220px;
  width: 220px
}

